<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personel_kayit.Properties.Settings.PersonelveritabaniConnectionString"
            connectionString="Data Source=CAGLA\SQLEXPRESS;Initial Catalog=Personelveritabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>